body {
    color: white;
    background-color: #1e1e1e;
    font-family: "Courier New", "monospaced";
}

.frame {
    display: flex;
    align-items: flex-start;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;

    padding: 1em 15em;

    gap: .8em;
}

.container {
    display: block;

    background-color: black;

    padding-left: 1em;
    padding-right: 1em;

    box-shadow: 0px 0px .8em black;
}

#left-bar {
    padding: .2em .2em .2em .2em;
    font-size: 1.3em;
}

#left-bar ul {
    padding: 0;

    list-style-type: none;
    list-style-position: inside;
}

#left-bar ul li{
    transition: 0.3s;
}

#left-bar ul li::before{
    content: ">";
    margin-right: .5em;
}

#left-bar ul a {
    color: white;
    text-decoration: none;
}

#left-bar ul li:hover {
    background-color: #1a1a1a;
    color: #ff05b6;
}

#left-bar img {
    width: 7em;
}

#right-bar h2 {
    font-weight: normal;
}

iframe {
    width: 15em;
    height: 15em;
    border-width: .1em;
}
