body {
    font-family: "Courier New", "monospaced";
    color: white;
}

#parent {
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    font-size: 1em;
    margin: 0em 0em 0em 0em;
}

p {
    margin-top: 0em;
}

/* width */
::-webkit-scrollbar {
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}
